* {
    margin: 0;
    padding: 0;
    font-family: "opne"
}

nav {
    display: flex;
    justify-content: space-between;
}

#dekstop-nav {
    font-size: 32px;
    padding: 23px 23px;
    font-weight: bolder;
}